In [3]:
%load_ext lab_black
import pandas as pd

The lab_black extension is already loaded. To reload it, use:
  %reload_ext lab_black

In [9]:
def get_codes():
    df = pd.read_excel("CKS - Package Codes.xlsx", engine="openpyxl")
    df = df[["Product Code", "Product Code Details"]]
    df = df.drop_duplicates("Product Code Details")
    return df


get_codes()

    Product Code                    Product Code Details
0           3CSM  3course set $44++ per pax at Star Cafe
1           ASKA                  Ask Alfred at $22.00++
2             BF                     B/fast plus 16.00++
3            BFA     (DO NOT USE) Breakfast at $5.00nett
5          BFBOU             Breakfast is on us Campaign
..           ...                                     ...
105        USS45                                   USS45
106        USS95                                   USS95
107          VDN   $166++ p/pkg Valentine Dinner Package
108         VDN1          $128+++ p/couple at Star CafÃ©
109          NaN                                     NaN

[97 rows x 2 columns]

In [11]:
def get_customer():
    df = pd.read_excel("CustomerProfile01.xlsx", engine="openpyxl")
    return df


get_customer()

     Country Gender  Age Past Purchase
0  Singapore      F   35          Milk